:root{
    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --mediumgrey: hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
    --bgrey: #2d3742;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: white;
}

body{
    background-color: var(--verydarkblue);
}

.window{
    background-color: var(--darkblue);
    border-radius: 5%;
}

.circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.grey{
    background-color: var(--bgrey);
}

.button{
    padding: 0;
    border: none;
}